@{

    Layout = "_Layout";
}       <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1 class="my-5 text-center ms_main_title">ECCO UNA LISTA DI TUTTE LE TUE PIZZE</h1>


                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Immagine</th>
                                <th scope="col">Gusto</th>
                                <th scope="col">Ingredienti</th>
                                <th scope="col">Prezzo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>
                                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                                </td>
                                <td >Margherita</td>
                                <td>Pomodoro, Mozzarella, Basilico.</td>
                                <td>7€</td>
                            </tr>
                            <tr>
                                <td scope="row">2</td>
                                <td>
                                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                                </td>
                                <td>Diavola</td>
                                <td>Pomodoro, Mozzarella, Salame Piccante.</td>
                                <td>8€</td>
                            </tr>
                            </tr>
                            <tr>
                                <td scope="row">3</td>
                                <td>
                                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                                </td>
                                <td>Prosciutto e Funghi</td>
                                <td>Pomodoro, Mozzarella, Prosciutto, Funghi.</td>
                                <td>10€</td>
                            </tr>
                            </tr>
                            <tr>
                                <td scope="row">4</td>
                                <td>
                                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                                </td>
                                <td>Wurstel</td>
                                <td>Pomodoro, Mozzarella, Wurstel.</td>
                                <td>8€</td>
                            </tr>
                            <tr>
                                <td scope="row">5</td>
                                <td>
                                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                                </td>
                                <td>Rucola e Grana</td>
                                <td>Pomodoro, Mozzarella,Rucola, Grana.</td>
                                <td>10€</td>
                            </tr>
                            <tr>
                                <td scope="row">6</td>
                                <td>
                                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                                </td>
                                <td>Focaccia</td>
                                <td>Olio, Origano, Sale.</td>
                                <td>5€</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>