@{
    Layout = "_Layout";
}

<div class="jumbotron d-flex align-items-center">
    <div class="jt-logo d-flex align-items-center justify-content-center">
        GIADA'S PIZZA
    </div>
</div>

<div class="container">
    <div class="row g-5">

        <h1 class="py-5 text-center ms_main_title">Il Nostro Menù</h1>
        <hr/>
        <div class="col-4">
                    <div class="card">
                        <div class="card-img">
                                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                        </div>
                        <div class="card-title">Margherita</div>
                        <div class="card-subtitle">Pomodoro, Mozzarella, Basilico.</div>
                        <hr class="card-divider">
                        <div class="card-price text-center">
                            <span>7</span> €
                        </div>
                    </div>

                </div>
        <div class="col-4">
                    <div class="card">
                        <div class="card-img">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                        </div>
                        <div class="card-title">Diavola</div>
                        <div class="card-subtitle">Pomodoro, Mozzarella, Salame Piccante.</div>
                        <hr class="card-divider">
                        <div class="card-price text-center">
                            <span>8</span> €
                        </div>
                    </div>
                </div>
        <div class="col-4">
                    <div class="card">
                        <div class="card-img">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                        </div>
                        <div class="card-title">Prosciutto e Funghi</div>
                        <div class="card-subtitle">Pomodoro, Mozzarella, Prosciutto, Funghi.</div>
                        <hr class="card-divider">
                        <div class="card-price text-center">
                            <span>10</span> €
                        </div>
                    </div>
                </div>
        <div class="col-4">
                    <div class="card">
                        <div class="card-img">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                        </div>
                        <div class="card-title">Wurstel</div>
                        <div class="card-subtitle">Pomodoro, Mozzarella, Wurstel.</div>
                        <hr class="card-divider">
                        <div class="card-price text-center">
                            <span>8</span> €
                        </div>
                    </div>
                </div>
        <div class="col-4">
                    <div class="card">
                        <div class="card-img">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                        </div>
                        <div class="card-title">Rucola e Grana</div>
                        <div class="card-subtitle">Pomodoro, Mozzarella,Rucola, Grana.</div>
                        <hr class="card-divider">
                        <div class="card-price text-center">
                            <span>10</span> €
                        </div>
                    </div>
                </div>
        <div class="col-4">
                    <div class="card">
                        <div class="card-img">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Xlx7oZVd_khsvg4O92O6DgHaE8%26pid%3DApi&f=1&ipt=71dde818b9da4652897afd0bb26d02dc98d01f8f49cd5e1ae1a4102da2c798a8&ipo=images" alt="Immagine di una pizza" />
                        </div>
                        <div class="card-title">Focaccia</div>
                        <div class="card-subtitle">Olio, Origano, Sale.</div>
                        <hr class="card-divider">
                        <div class="card-price text-center">
                            <span>5</span> €
                        </div>
                    </div>
                </div>
        <hr />
               
    </div>
</div>
    


  